<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="twt">

	<!-- ================================용훈================================== -->
	<resultMap type="ScheduleReview" id="ScheduleReviewMap">
		<result property="sr_Code" column="SR_CODE" />
		<result property="m_Code" column="M_CODE" />
		<result property="ts_Code" column="TS_CODE" />
		<result property="sr_Title" column="SR_TITLE" />
		<result property="sr_Content" column="SR_CONTENT" />
		<result property="sr_View" column="SR_VIEW" />
		<result property="sr_Date" column="SR_DATE" />
	</resultMap>

	<insert id="insertForm_Y">
		INSERT INTO SCHEDULEREVIEW
		VALUES('SR'||SR_SEQ.NEXTVAL, NULL, NULL, NULL, NULL, 0, SYSDATE)
	</insert>


	<select id="selectSrCode_Y" resultType="String">
		SELECT
		MAX(TO_NUMBER(LTRIM(SR_CODE,'SR'))) FROM SCHEDULEREVIEW
	</select>

	<update id="updatePotoBook_Y" parameterType="ScheduleReview">
		UPDATE
		SCHEDULEREVIEW
		SET
		M_CODE = #{m_Code},
		SR_TITLE = #{sr_Title},
		SR_CONTENT
		= #{sr_Content}
		WHERE
		SR_CODE = #{sr_Code}
	</update>




	<!-- ================================범식================================== -->


	<resultMap type="Hotel" id="hotelMap">
		<result property="h_Code" column="H_CODE" />
		<result property="city_Code" column="CITY_CODE" />
		<result property="h_Name" column="H_NAME" />
		<result property="h_Lati" column="H_LATI" />
		<result property="h_Long" column="H_LONG" />
		<result property="h_phone" column="H_PHONE" />
		<result property="h_Basicaddr" column="H_BASICADDR" />
		<result property="h_Addr" column="H_ADDR" />
		<result property="h_Img" column="H_IMG" />
		<result property="h_Content" column="H_CONTENT" />
		<result property="h_Starn" column="H_STARN" />
		<result property="h_Basiccontent" column="H_BASICCONTENT" />
	</resultMap>

	<!-- 호텔리스트 -->
	<select id="HselectList" resultMap="hotelMap">
		SELECT
		H_CODE,CITY_CODE,H_NAME,H_LATI,H_LONG,H_PHONE,H_BASICADDR,H_ADDR,H_IMG,H_CONTENT,H_STARN,H_BASICCONTENT
		FROM HOTEL

	</select>

	<!-- 호텔룸 -->
	<select id="selectall_B" resultType="Hotel">
		SELECT * FROM HOTELROOM
	</select>





	<!-- ================================도영================================== -->

	<resultMap type="TravelSchedule" id="TravelScheduleMap_D">
		<result property="ts_Code" column="TS_CODE" />
		<result property="m_Code" column="M_CODE" />
		<result property="tp_Code" column="TP_CODE" />
		<result property="ts_Title" column="TS_TITLE" />
		<result property="ts_Sday" column="TS_SDAY" />
		<result property="ts_Theme" column="TS_THEME" />
		<result property="ts_People" column="TS_PEOPLE" />
		<result property="ts_Thum" column="TS_THUM" />
		<result property="ts_Period" column="TS_PERIOD" />
		<result property="ts_Date" column="TS_DATE" />
		<result property="ts_View" column="SR_VIEW" />
		<result property="m_Id" column="M_ID" />
	</resultMap>

	<!-- 여행일정 게시판 리스트 최신 순 -->
	<select id="selectList_D" resultMap="TravelScheduleMap_D">
		SELECT * FROM TRAVELSCHEDULE
		LEFT JOIN TWTMEMBER USING(M_CODE) ORDER BY TS_DATE DESC
	</select>

	<!-- 여행일정 게시판 리스트 조회수 순 -->
	<select id="PselectList_D" resultMap="TravelScheduleMap_D">
		SELECT * FROM TRAVELSCHEDULE LEFT JOIN TWTMEMBER USING(M_CODE) ORDER BY TS_VIEW DESC
	</select>
	
	<select id="relList_D" resultMap="TravelScheduleMap_D">
		SELECT * FROM TRAVELSCHEDULE LEFT JOIN TWTMEMBER USING(M_CODE) WHERE TS_CODE = #{TS_CODE}
	</select> -->

	<!-- 여행 일정 디테일 -->	
	<select id="selectOne_D" parameterType="String" resultType="TravelSchedule">
		SELECT * FROM TRAVELSCHEDULE LEFT JOIN TWTMEMBER USING(M_CODE) LEFT JOIN TRAVELSCHEDULE_DAY USING(TS_CODE) LEFT JOIN TRAVELPOINT USING(TP_CODE) WHERE TS_CODE = #{TS_CODE}
	</select>
	

	<!-- ================================보미================================== -->
	<!-- 회원가입 -->
	<insert id="insertM" parameterType="Member">
		INSERT INTO TWTMEMBER VALUES
		('M10',#{m_Id},#{m_Pass},#{m_Name},#{m_Email},#{m_Api,jdbcType=VARCHAR},'N')
	</insert>
	
	<!-- 회원탈퇴 -->
	<delete id="deleteUserM" parameterType="String">
	   DELETE FROM TWTMEMBER WHERE M_CODE = #{m_Code}
	</delete>

	<!-- 로그인 -->
	<select id="loginM" resultType="Member">
		SELECT * FROM TWTMEMBER WHERE
		M_ID = #{m_Id}
	</select>

	<!-- 아이디 중복검사 -->
	<select id="idChkM" resultType="int">
		SELECT COUNT(*) FROM TWTMEMBER
		WHERE M_ID = #{m_Id}
	</select>

	<!-- 유저 인증키 생성 -->
	<update id="GetKey" parameterType="Member">
		UPDATE TWTMEMBER SET
		M_MAILCHECK = #{m_Mailcheck} WHERE M_ID = #{m_Id}
	</update>

	<!-- 유저 인증키(난수) Y로 변경 -->
	<update id="alterUserKey" parameterType="Member">
		UPDATE TWTMEMBER SET
		M_MAILCHECK = 'Y' WHERE M_ID = #{m_Id} AND M_MAILCHECK = 'N'
	</update>

	<!-- 항공권 전체 조회 -->
	<select id="selectAllAirM" resultType="AirplaneInfo">
		SELECT * FROM AIRPLANEINFO
		WHERE M_CODE = #{m_Code}
	</select>

	<!-- 항공권 정보 입력 -->
	<insert id="insertAirM" parameterType="AirplaneInfo">
		INSERT INTO AIRPLANEINFO
		VALUES (#{m_Code},#{dep_Loca1},#{dep_Loca2},#{dep_Date1},
		#{dep_Date2},#{dep_Time1},#{dep_Time2},#{re_Loca1},
		#{re_Loca2},#{re_Date1},#{re_Date2},#{re_Time1},#{re_Time2},'AIR7')
	</insert>

	<!-- 항공권 정보 수정 -->
	<update id="updateAirM" parameterType="AirplaneInfo">
	   UPDATE AIRPLANEINFO SET DEP_LOCA1 = ${dep_Loca1}, DEP_LOCA2 = ${dep_Loca2}, DEP_DATE1 = ${dep_Date1}, DEP_DATE2 = ${dep_Date2},
	   DEP_TIME1 = ${dep_Time1}, DEP_TIME2 = ${dep_Time2}, RE_LOCA1 = ${re_Loca1}, RE_LOCA2 = ${re_Loca2}, RE_DATE1 = ${re_Date1}, RE_DATE2 = ${re_Date2},
	   RE_TIME1 = ${re_Time1}, RE_TIME2 = ${re_Time2} WHERE AIR_CODE = #{air_Code}
	</update>

	<!-- 항공권 정보 삭제 -->
	<delete id="deleteAirM" parameterType="String">
		DELETE FROM AIRPLANEINFO WHERE AIR_CODE = #{air_Code}
	</delete>
 
	<!-- ================================찬우================================== -->



	<!-- ================================수지================================== -->
	<!-- 모든 city 정보 불러오기 -->
	<select id="selectcityall_S" resultType="City">
		SELECT * FROM CITY
	</select>

	<!-- 선택된 city spot 모두 불러오기 -->
	<select id="selectallspot_S" resultType="TravelPoint"
		parameterType="String">
		SELECT * FROM TRAVELPOINT WHERE CITY_CODE = #{citycode}
	</select>

	<!-- 선택된 city 정보 불러오기 -->
	<select id="selectcityone_S" resultType="City"
		parameterType="String">
		SELECT * FROM CITY WHERE CITY_CODE = #{citycode}
	</select>

	<!-- ================================철환================================== -->


</mapper>
	
	