<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="twt">
		<!-- ================================용훈==================================  -->
		<!-- index 실행 잘 되구여 pom.xml 빨간거 떠여 -->
		
		
		<!-- ================================범식==================================  -->
		
		
		
		<!-- ================================도영==================================  -->
		
		
		
		<!-- ================================보미==================================  -->
		
		
		
		<!-- ================================찬우==================================  -->
		
		
		
		<!-- ================================수지==================================  -->
		
		
		
		<!-- ================================철환==================================  -->
		
		
		
	</mapper>
	
	